<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />

    <title>Mentoring Scheduler</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container m-t-3 m-b-3">
      <h1>Mentoring Scheduler</h1>
      <p class="lead m-b-2">Yay robots! Yay mentors! Yay teams!</p>

      {% for mentor in mentors | sort(attribute='name') %}
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{ mentor.name }} {% if mentor.rookie %}<span class="label label-warning">Rookie</span>{% endif %}</h4>
            <p class="card-text">{{ mentor.find_suitable_teams(teams) | list | length }} plausible teams.</p>
          </div>

          <table class="table table-striped">
            <thead class="thead-default">
              <tr>
                <th>TLA</th>
                <th>Distance</th>
                <th>Meeting Time</th>
                <th>Time to get there</th>
                <th>Time to get back</th>
              </tr>
            </thead>

            <tbody>
              {% for suitable_mentor in mentor.find_suitable_teams(teams) | sort(attribute='min_journey_speed') %}
                <tr>
                  <td>{{ suitable_mentor.team.tla }}</td>
                  <td>{{ suitable_mentor.team.distance_km | round(1) }} km</td>
                  <td>{{ suitable_mentor.meeting_time }}</td>
                  <td>{{ suitable_mentor.journey_there }}</td>
                  <td>{{ suitable_mentor.journey_back }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endfor %}
    </div>
  </body>

</html>
